/* Aplica box-sizing: border-box a todos os elementos, 
   definindo padding e margin como 0 para todos os elementos */
   * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Define a fonte padrão do corpo do documento */
body {
    font-size: 'arial';
    background-color: #ffffff !important;
}

/* Define a largura máxima do conteúdo interno do cabeçalho 
   e centraliza-o horizontalmente */
.header-inner-content {
    display: flex !important;
    align-items: center !important;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* Estiliza a barra de navegação com cor de fundo, 
   padding, posição fixa no topo, sombra e z-index */
.navbar {
    background: linear-gradient(to bottom, #3b3b3b, #1c1c1c);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.banner .banner2 {
    cursor: pointer;
}

/* Define o layout flexível para os itens dentro da navbar,
   centralizando-os verticalmente e distribuindo-os uniformemente */
.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Define a cor do texto para o logo */
.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    text-align: start !important;
    color: #000000;
    transform: translate(-150%, 0%);
    cursor: pointer;
}

/* Define a cor do texto dentro do logo que está dentro de um <span> */
.logo span {
    color: rgb(193, 210, 225);
}

/* Define o layout flexível para a lista de navegação, 
   removendo os marcadores e centralizando os itens */
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    transform: translate(-0%, 30%);
}

/* Define o layout flexível para o container dos ícones de navegação,
   centralizando os itens verticalmente */
.nav-icon-conteiner {
    display: flex;
    align-items: center;
}

/* Define a largura dos ícones de navegação e o cursor para pointer */
.nav-icon-conteiner img {
    width: 30px;
    cursor: pointer;
}

/* Adiciona margem à direita do primeiro ícone de navegação */
.nav-icon-conteiner img:first-child {
    margin-right: 1rem;
}

/* Define a cor do texto dos itens da lista de navegação,
   adiciona margem à direita e define o cursor para pointer */
nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

/* Adiciona uma animação de transformação ao passar o mouse 
   sobre os itens da lista de navegação */
nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

/* Esconde o botão do menu, provavelmente usado em layouts responsivos */
.menu-button {
    display: none;
}

/* Define o layout flexível para o lado inferior do cabeçalho,
   centralizando verticalmente os itens e adicionando padding */
.header-bottom-side {
    display: flex !important;
    align-items: center !important;
    justify-self: center !important;
    padding: 1rem;
}

/* Define a altura e a largura base do lado esquerdo do cabeçalho inferior */
.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
}

/* Estiliza o texto do título do lado esquerdo do cabeçalho inferior */
.header-bottom-side-left h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

/* Estiliza o parágrafo do lado esquerdo do cabeçalho inferior */
.header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Estiliza o botão do lado esquerdo do cabeçalho inferior */
.header-bottom-side-left button {
    background-color: #000000;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px; /* Define bordas totalmente arredondadas */
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

/* Estiliza o botão ao passar o mouse sobre ele, mudando a cor de fundo */
.header-bottom-side-left button:hover {
    background-color: #2c2c2c;
}

/* Define a largura base do lado direito do cabeçalho inferior,
   centralizando verticalmente e horizontalmente o conteúdo */
.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

/* Define a largura automática das imagens do lado direito do cabeçalho inferior */
.header-bottom-side-left img {
    display: flex !important;
}

.top-conteiner {
    width: 98.7%;
    height: 90px;
    right: 50%;
    text-align: center;
    justify-content: center;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7rem;
    border: 1px solid #262626;
    border-radius: 5px;
    padding: 22px;
    transform: translate(11px, -10px);
}